* {
  font-weight: 300;
}

header {
  background-color: #343a40;
  font-family: Roboto, sans-serif;
  color: white;
}

body {
  background-color: #f6f6f6;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 2.6rem;
}

h1 {
  font-size: 3rem;
}

li {
  list-style: none;
  border: 3px solid #aeaeae;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

h2 {
  font-size: 2.3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.green {
  color: #27a746;
  font-weight: 900;
}

.red {
  color: red;
  font-weight: 900;
}

.bold {
  font-weight: 900;
}

main {
  background-color: #f6f6f6;
}

ul {
  padding: 0;
}

.watch-button {
  width: 4rem;
  height: 1.5rem;
  color: white;
  background-color: #27a746;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  box-shadow: 0 2px 2px gray;
  margin-left: 5rem;
}

.flex-row {
  display: flex;
}

.view-link {
  margin-top: 0.5rem;
  padding-left: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.yellow {
  color: #f1c411;
}

.unwatch-button {
  width: 4.6rem;
  height: 1.5rem;
  color: white;
  background-color: #dc2626;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  box-shadow: 0 2px 2px gray;
  margin-left: 4.5rem;
}
